<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898064354743-8r89vk1qdd5c4foio3v0nmciqu2aa6b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898064354743-8r89vk1qdd5c4foio3v0nmciqu2aa6b7</string>
	<key>API_KEY</key>
	<string>AIzaSyCG_i8RD3agomWNv93aD-PvcHBXpwgor4g</string>
	<key>GCM_SENDER_ID</key>
	<string>898064354743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-28e1e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-28e1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898064354743:ios:48c6dbe456b97d7922ac32</string>
</dict>
</plist>